@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}

nav{
    background-color:white;
    position: fixed; 
    top: 0; 
    width: 100%;
    position: sticky;
    min-height: 50px;
}

nav ul{
    margin: 5px 10% 5px 10%;
    padding: 5px;
}

nav ul li{
    display: inline-block;
    margin-left: 10px;
}

.right-nav{
    float: right;
}

.tuitt-button{
    padding-left: 20px;
    padding-right: 20px;
    min-height: 2rem;
    background-color: #c2195b;
    border-radius: 25px;
    border: none;
    font-weight: bold;
    color: white;
}

#bg-image{
    background-image: url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
    min-height: 50vh;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
	background-attachment: scroll;
}

.front-bg{
    background-color: rgba(0, 0, 0, 0.5);
    min-height: inherit;
}

.container{
    margin-right: 10%;
    text-align: right;
    color: white;
}
.container h1{
    font-size: 4rem;
    margin-left: 55%;
    font-family: 'Times New Roman', Times, serif;
}
.container h2{
    font-weight: 500;
    font-size: 1rem;
    margin-left: 75%;
    text-align: right;
}

.apply-button{
    margin-top: 1rem;
    min-height: 3rem;
    padding-left: 50px;
    padding-right: 50px;
    background-color: #c2195b;
    border-radius: 35px;
    border: none;
    font-size: medium;
    font-weight: bold;
    color: white;
}

.intro{
    text-align: center;
    padding-top: 5rem;
    min-height: 50vh;
}

.title-2{
    margin-bottom: 3rem;
    font-family: 'Zilla Slab', serif;
    font-size: 2.5rem;
}

.intro-description{
    text-align: justify;
    margin-left: 15%;
    margin-right: 15%;
    font-size: 20px;
}

.pre-footer{
    min-height: 50vh;
    background-color: #f7fbfb;
    text-align: center;
}

.prefooter-description{
    margin-left: 15%;
    margin-right: 15%;
    font-size: 20px;
}

.book-button{
    background-color: #336589;
    color: white;
    margin-top: 1rem;
    min-height: 3rem;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 35px;
    border: none;
    font-size: medium;
    font-weight: bold;
}

footer{
    text-align: center;
}
